* {
    box-sizing: border-box;
}

body {
    margin: 0;

}

.main-bar {
    display: flex;
    background: lightgrey;
    width: 100%;
    align-items: center;
    /*flex-basis: ;*/
    font-family: otherFont, "Times New Roman", sans-serif;
    font-weight: bold;
}

@font-face {
    font-family: "logoFont";
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("TrueType");
}

@font-face {
    font-family: "otherFont";
    src: url("../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf") format("TrueType");
}

.left-nav{
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    /*padding: .5em;*/
}

.flex-container-logo{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
    /*padding: .5em;*/
}

body .flex-container-logo .logo a{
    position: absolute;
    font-size: 3em;
    padding: .2em .2em;
    font-family: logoFont, "Times New Roman", sans-serif;
    text-align: center;
}

.right-nav{
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    padding: .5em;

}

a:hover{
    color: blue;
}

a{
    text-decoration: none;
    /*padding: .2em;*/
    color: black;
}
ul{
    padding: .5em;
    margin-block-start: unset;
    margin-block-end: unset;
}

h1{
    margin-block-start: unset;
    margin-block-end: unset;
}

li{
    padding: .5em;
    list-style: none;
    text-decoration: none;
    text-align: start;
}

p {
    text-align: center;
}