body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message-info{
    padding: 1em;
    color: darkblue;
    background: cornflowerblue;
    margin: 10px;
    border-radius: 6px;
    border: solid lightgray thin;
}

.message-success{
    padding: 1em;
    color: green;
    background: darkseagreen;
    margin: 10px;
    border-radius: 6px;
    border: solid lightgray thin;
}

.message-warning{
    padding: 1em;
    color: darkgoldenrod;
    background: lightyellow;
    margin: 10px;
    border-radius: 6px;
    border: solid lightgray thin;
}

.message-error{
    padding: 1em;
    color: maroon;
    background: lightpink;
    margin: 10px;
    border-radius: 6px;
    border: solid lightgray thin;
}