* {
    box-sizing: border-box;
}
body {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    min-width: 600px;
    transform: skew(-2deg);
    transform-origin:top;
    /*height: auto;*/
    display: flex;

    flex-direction: column;
    padding: 25% 25%;
    /*overflow-clip: ;*/
    /*object-fit: initial;*/
    background: url("../Classroom-Images/Desk-Background.png") no-repeat center;
    background-size: 2000px;
    font-family: Arial;
}

/*the background of the sitet either a desk or a floor under the news paper*/
/*.plank-floor{*/
/*    height: 100vh;*/
/*    width: 100vw;*/
/*    */
/*}*/

/*container that holds the entire paper's content*/
.entire-paper{
    position: absolute;
    top: calc(50% - 400px);
    left: calc(50% - 400px);
    transform: translate(-50, -50);
    transform-origin:top;
    width: 800px;
    height: 1200px;
    /*max-height: 875px;*/
    background: url("../Classroom-Images/newspapertexture9.png");
    background-size: cover;
    padding: 2em 0 300px 0;
    margin: 0 auto;
}

/*The next three element are the title and logo in the header*/
header {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

header .title-logo{
    display: flex;
    justify-self: flex-start;
}

header .news-title{
    display: flex;
    align-content: center;
    justify-self: flex-end;
    z-index: 10;
}

/*this list will have a list of fake articles titles with facts for filler*/
div .header-bar{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-content: center;
    padding: 1em ;
    margin: 0;
    list-style: none;
}

/*The body has three columns in separate containers */
div .news-body{
    display: flex;
    margin: .5em;
}

div .news-body img{
    display: inline-block;
    padding: unset;
    margin: .5em 0 .5em 0;
    width: 100%;
}

.news-body .left-article-strip{
    width: 25%;
    margin: 0 4% 0 2%;
    float: right;
}

.news-body .center-article-area{
    width: 43%;
    float: right;
}

.news-body .right-article-strip{
    width: 20%;
    float: right;
    margin: 0 4% 0 2%;
}

.img-magnifier-glass {
    position: absolute;
    border: 3px solid #000;
    border-radius: 50%;
    cursor: none;
    /*Set the size of the magnifier glass:*/
    width: 100px;
    height: 100px;
}

.img-magnifier-container {
    position: relative;
}

