*, *::before, *::after {
    box-sizing: border-box;
    font-family: sans-serif;
    text-align: center;
    font-size: 18pt ;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #333;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
}

.image1 {
    content:url('/Users/nathanadcock/Desktop/Adventure Game Pictures/UndergroundcityOwariNoSeraph.jpg');
    border-radius: 50px;
    padding: 20px 30px;
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
}

.btn {
    background-color: hsl(200, 100%, 50%);
    border: 1px solid hsl(200, 100%, 30%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn:hover {
    border-color: black;
}

.image2 {
    content:url('/Users/nathanadcock/Desktop/Adventure Game Pictures/Back alleys.png');
    border-radius: 50px;
    padding: 20px 30px;
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.image3 {
    content:url('/Users/nathanadcock/Desktop/Adventure Game Pictures/Back alleys.png');
    border-radius: 50px;
    padding: 20px 30px;
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.image4 {
    content:url('/Users/nathanadcock/Desktop/Adventure Game Pictures/Back alleys.png');
    border-radius: 50px;
    padding: 20px 30px;
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.image5 {
    content:url('/Users/nathanadcock/Desktop/Adventure Game Pictures/Back alleys.png');
    border-radius: 50px;
    padding: 20px 30px;
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.image6 {
    content:url('/Users/nathanadcock/Desktop/Adventure Game Pictures/Back alleys.png');
    border-radius: 50px;
    padding: 20px 30px;
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.image7 {
    content:url('/Users/nathanadcock/Desktop/Adventure Game Pictures/Back alleys.png');
    border-radius: 50px;
    padding: 20px 30px;
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.image8 {
    content:url('/Users/nathanadcock/Desktop/Adventure Game Pictures/Back alleys.png');
    border-radius: 50px;
    padding: 20px 30px;
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.image9 {
    content:url('/Users/nathanadcock/Desktop/Adventure Game Pictures/Back alleys.png');
    border-radius: 50px;
    padding: 20px 30px;
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.image10 {
    content:url('/Users/nathanadcock/Desktop/Adventure Game Pictures/Back alleys.png');
    border-radius: 50px;
    padding: 20px 30px;
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.image11 {
    content:url('/Users/nathanadcock/Desktop/Adventure Game Pictures/Back alleys.png');
    border-radius: 50px;
    padding: 20px 30px;
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}